$breakpoint: (
  tab: "screen and (max-width: 1024px)",
  sp: "screen and (max-width: 750px)",
  sp1: "screen and (max-width: 600px)",
  sp2: "screen and (max-width: 460px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}
