//color
$clr-blur-neon: rgb(30, 93, 252);
$clr-pink-neon: rgb(241, 106, 253);
$clr-orange-neon: rgb(252, 172, 123);

//worksmob

$works-color: rgb(184, 0, 164), rgb(182, 82, 0), rgb(173, 173, 173),
  rgb(121, 255, 98), rgb(255, 142, 212), rgb(98, 255, 239), rgb(255, 182, 98),
  rgb(255, 98, 98), rgb(173, 173, 173), rgb(121, 255, 98), rgb(184, 0, 235),
  rgb(255, 170, 73), rgb(255, 223, 186);

$works-sdw-color: rgba(184, 0, 164, 0.659), rgba(182, 82, 0, 0.659),
  rgba(255, 255, 255, 0.659), rgba(133, 255, 129, 0.659),
  rgba(255, 142, 212, 0.659), rgba(98, 255, 239, 0.659),
  rgba(255, 182, 98, 0.659), rgba(255, 98, 98, 0.659),
  rgba(255, 255, 255, 0.659), rgba(133, 255, 129, 0.659),
  rgba(184, 0, 235, 0.659), rgba(255, 170, 73, 0.659),
  rgba(255, 223, 186, 0.659);
